body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgba(209, 103, 16, 0.89), rgb(83, 29, 7));
    color: white;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}
fieldset {
    border: 3px solid rgba(218, 171, 17, 0.973);
}
legend {
    border: 1px solid aliceblue;
    padding: 10px;
    text-align: center;
    background-color: rgba(177, 76, 8, 0.596);
    border-radius: 8px;
}
.inputBox {
    position: relative;
    margin-bottom: 20px;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelinput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelinput,
.inputUser:valid ~ .labelinput {
    top: -25px;
    font-size: 12px;
    color: orange;
}
#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    width: 100%;
}
#submit {
    background-image: linear-gradient(to right, rgba(139, 68, 10, 0.89), rgba(83, 28, 7, 0.582));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover {
    background-image: linear-gradient(to right, rgba(104, 50, 5, 0.664), rgba(83, 28, 7, 0.582));
}

/* Estilo da tabela */
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    color: white;
}
th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
th {
    background-color: rgba(177, 76, 8, 0.6);
}
table {
border-collapse: collapse; 
margin: 50px auto;         
 text-align: center;        
}
.Resultadosdatabela{
    text-align: center;
    
}