<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário com Tabela de Resultados</title>
    <link rel="stylesheet" href="../static/css/tabela.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <h2 style="text-align: center;">Resultados da Tabela</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Sexo</th>
            <th>Data de Nascimento</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Endereço</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        {% for pessoa in dados %}
            <tr>
                {% for celula in pessoa %}
                    <td>{{ celula }}</td>
                {% endfor %}
                <td><i class="fa-solid fa-user-pen">
                </i></td>
                <td><i class="fa-solid fa-user-minus"></i></td>
            </tr>
        {% endfor %}
        </tr>
    </table>


    <form class="btn" action="/voltar" method="post">
        <button>Retornar</button>
    </form>
    
</body>
</html>
